<configuration>
    <property name="LOG_FILE" value="automation" />
    <property name="LOG_DIR" value="target/logs" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}_${LOG_FILE}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="root" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="net.serenitybdd" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="net.thucydides" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>
